Checks: '-*,clang-analyzer-*,bugprone-use-after-move,bugprone-dangling-handle,bugprone-sizeof-expression,bugprone-suspicious-memset-usage,bugprone-infinite-loop,performance-unnecessary-copy-initialization,performance-for-range-copy,modernize-use-nullptr'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/include/bridge/.*|.*/src/.*'
